/* https://icons8.com/icon/set/logos/fluency-systems-regular */

:root {
    --text-color: #0A3104;
    --text-hover-color: #89C081;
    --primary-color: #D4E9C6;
    --secondary-color: #FBFDF2;
    --button-color: #2B7220;
    --item-color-light: #f3f9f2;
    --item-color-dark: #e7f2e6;
    scroll-behavior: smooth;
}

* {
    font-family: "Poppins";
    color: var(--text-color);
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--secondary-color);
}

header {
    background-color: var(--primary-color);
    height: 40px;
    padding: 20px 50px;
}

#logo {
    height: 40px;
}

nav {
    width: 90%;
    float: right;
    display: inline-flex;
    column-gap: 25px;
    height: 40px;
    align-items: center;
    justify-content: right;
}

#search-form {
    max-width: 300px;
    border: 1px solid black;
    border-radius: 18px;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    flex-grow: 2;
    padding-left: 10px;
}

#searchbar {
    width: 90%;
    border: none;
    background-color: transparent;
    outline: none;
}

#searchbar::placeholder {
    color: var(--text-color);
}

#searchbar-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#searchbar-image {
    height: 100%;
}

#shopping-cart-a {
    display: flex;
    height: 100%; 
}

nav a {
    font-weight: 1000;
    text-decoration: underline;
    text-decoration-color: transparent;
}

nav a:hover {
    text-decoration-color: var(--text-hover-color);
    color: var(--text-hover-color);
    transition-duration: 0.5s;
}

#signup {
    height: 100%;
    box-sizing: border-box;
    padding: 7px;
    border: 1px solid var(--text-color);
    border-radius: 18px;
}

#signup:hover {
    background-color: var(--button-color);
    border-color: var(--text-hover-color);
}

h1 {
    font-family: "Alfa Slab One";
    font-weight: normal;
    font-size: 55px;
}

#footer-hr {
    margin: 0px 50px;
}

footer {
    height: 40px;
    padding: 20px 50px;
}

#footer-left {
    display: inline-flex;
    height: 100%;
    align-items: center;
}

#footer-right {
    float: right;
    display: flex;
    height: 100%;
}

#footer-right a {
    display: flex;
    height: 100%;
}