:root {
    --text-color: #0a3104;
    --text-hover-color: #89c081;
    --primary-color: #d4e9c6;
    --secondary-color: #FBFDF2;
}

* {
    font-family:  "Poppins";
    color: var(--text-color);
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--secondary-color);
}

#header-home {
    background-color: var(--primary-color);
    padding: 10px;
    height: 40px;
}

#logo {
    height: 40px;
}

#header-home nav {
    width: 90%;
    float: right; 
    display: inline-flex;
    flex-direction: row;
    column-gap: 25px;
    height: 40px;
    align-items: center;
    justify-content: right;
}

#form {
    max-width: 300px;
    border: 1px solid black;
    border-radius: 18px;
    display: flex;
    height: 100%;
    flex-grow: 2;
}

#shopping-cart-a {
    display: flex;
    height: 100%; 
}

#searchbar {
    width: 90%;
    padding-left: 10px;
    border: none;
    background-color: transparent;   
    outline: none; 
}

#searchbar::placeholder {
    color: var(--text-color);
}

#searchbarbutton {
    background-color: transparent;
    border: none;
}
#searchbarimage {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    
  }
#additem {
    font-weight: 1000;
    text-decoration: underline;
    text-decoration-color: transparent;
    /* min-width: ; */
    
}
#additem:hover {
    text-decoration-color: var(--text-hover-color);
    color: var(--text-hover-color);
    transition-duration: 0.5s;
}

#signin {
    font-weight: 1000;
    text-decoration: underline;
    text-decoration-color: transparent;
    
}
#signin:hover {
    text-decoration-color: var(--text-hover-color);
    color: var(--text-hover-color);
    transition-duration: 0.5s;
}
#signup {
    padding: 5px;
    font-weight: 1000;
    text-decoration: underline;
    text-decoration-color: transparent;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    
}
#signup:hover {
    background-color: #2b7220;
    border-color: var(--text-hover-color);
    text-decoration-color: var(--text-hover-color);
    color: var(--text-hover-color);
    transition-duration: 0.5s;
}
#shopping_cart_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    font-size: 40px;
    text-align: center;
}
#SCtoptext {
    display: flex;
}
#shopping-cart-image {
    display: inline-flex;
    flex-direction: row;
    align-self: center;
    padding-left: 10px;
    height: 40px;
}
#shopping-cart-list {
    margin-top: 20px;
    width: 70%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    height: 45vh;
}

#item1, #item3 {
    width: 100%;
    display: flex;
    background-color: #d0e6cd;
    height: 15vh;
    
}
#item2 {
    width: 100%;
    background-color: #f3f9f2;
    height: 15vh;
}
#belowshoppingcart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    font-size: 20px;
}

#formunder {
    width: 300px;
    border: 1px solid black;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    height: 40px;
    flex-grow: 2;
    margin-bottom: 20px;
}

#searchbarunder {
    padding-left: 10px;
    border: none;
    background-color: transparent;   
    outline: none; 
    width: 100%;
}

#searchbarunder::placeholder {
    color: var(--text-color);
}

#searchbarbuttonunder {
    display: flex;
    background-color: transparent;
    border: none;
    height: 100%;
}
#searchbarimageunder {
    cursor: pointer;
    height: 100%;
  }
hr {
    margin-left: 50px;
    margin-right: 50px;

}

footer {
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 50px;
}

.footer-left {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
}

.footer-left img {
    display: flex;
    height: 100%;
}
